body {
  margin: 0;
}

header {
  background-color: brown;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

section {
  display: flex;
  /* flex-direction: row; */
  /* 
  블록레벨 요소의 경우 전체 너비를 100% 차지하기 떄문에 크기를 너비를 지정하지 않으면 모든 아이템들이 wrapping되어 아래로 흐름 
    - 즉, width(너비)를 정해줘야 함
  */
  /* flex-wrap: wrap; */

  /* 
    flex-flow 속성 (약칭 속성)
    (direction + wrap >> 한 번에 사용하는 속성)
  */
  flex-flow: row wrap;
}

article {
  padding: 10px;
  margin: 10px;
  background-color: aliceblue;
  width: 200px;
}